{% extends 'base.html' %}
{% load humanize %}
{% block title %} โครงการเสวนา {% endblock title %}
{% block content %}
    <div class="container"><br><br>
        <h2 class="text-center"><i class="fas fa-bullhorn"></i> โครงการเสวนา</h2><br><hr>
        <!--ปุ่มลงทะเบียน-->
        <div class="text-left">
            <a href="{% url 'event4_register' %}" class="btn btn-info"><i class="fas fa-user-plus"></i> ลงทะเบียน</a>
        </div>
        <!--รวมโครงการ-->
        {% if converse %}
            <h5 class="text-right">{{ conversecount }} โครงการ</h5>
        {% endif %}
        
        <div class="data-transection">
             <!--ตารางเสวนา-->
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="text-center">
                        <tr class="text-center">
                        <th scope="col">ชื่อโครงการ</th>
                        <th scope="col">วัน-เวลา</th>
                        <th scope="col">สถานที่</th>
                        <th scope="col">จัดการ</th>
                    </tr>
                </thead>

                <tbody>
                {% if converse %}
                    {% for converse in converse %}
                        <tr class="text-center">
                            <td>{{ converse.name }}</td>
                            <td>{{ converse.date |date:"d/m/Y" }} <br> {{ converse.from_time |time:"H:i" }}น. - {{ converse.to_time |time:"H:i" }}น.</td>
                            <td>{{ converse.locality |linebreaksbr}}</td>
                            <td><a href="{% url 'converse_detail' converse.id %}" class="btn btn-warning"><i class="fas fa-eye"></i> รายละเอียด</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="10" class="text-center">ไม่มีข้อมูลการเสวนา</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <!--pagination -->
        {% if converse %}
            <div class="col-md-4 mx-auto">
                <div class="pagination ">
                    {% if converse.has_previous %}
                        <a class="pagination-action" href="?page=1">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ converse.previous_page_number }}">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                
                    <span class="pagination-current">{{ converse.number }}</span>
                    <span class="pagination-of">of</span>
                    <span class="pagination-total">{{ converse.paginator.num_pages }}</span>
                
                    {% if converse.has_next %}
                        <a class="pagination-action" href="?page={{ converse.next_page_number }}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ converse.paginator.num_pages }}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        <br>
    </div>
{% endblock content %}