{% extends 'base.html' %}
{% block title %} ลงทะเบียน {% endblock title %}
{% block content %}
    <section id="register" class="bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="row page-titles">
                        <div class="col-md-12 align-self-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'seminar' %}"><i class="fas fa-address-card"></i> การสัมมนา</a></li>
                                <li class="breadcrumb-item active">ลงทะเบียน</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mx-auto">
                    <div class="card">
                        <div class="card-header bg-info text-white">
                        <h4><i class="fas fa-user-plus"></i> ลงทะเบียน</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'event3_register'%}" method="POST">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label for="event">โครงการที่ต้องการเข้าร่วม</label>
                                    <select name="event" id="event" class="form-control" required="true">
                                        {% if seminar %}
                                            {% for seminar in seminar %}
                                                <option value="{{ seminar.id }}">{{ seminar.name }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="first_name">ชื่อ</label>
                                    <input type="text" name="first_name" class="form-control" value="{{ seminar.first_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="last_name">นามสกุล</label>
                                    <input type="text" name="last_name" class="form-control" value="{{ seminar.last_name }}">
                                </div>
                                <div class="form-group">
                                    <label for="email">อีเมล์</label>
                                    <input type="email" name="email" class="form-control" value="{{ seminar.email }}">
                                </div>
                                <div class="form-group">
                                    <label for="phone">เบอร์ติดต่อ</label>
                                    <input type="number" name="phone" class="form-control" value="{{ seminar.phone }}">
                                </div>
                                <input type="submit" value="ลงทะบียน" class="btn btn-success btn-block">
                                <input type="hidden" name="eventid" id="eventid" value="{{ event.id }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
