{% extends 'base.html' %}
{% load humanize %}
{% block title %} โครงการสัมมนา {% endblock title %}
{% block content %}
    <section id="create" class="bg-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-9 mx-auto">
                    <div class="row page-titles">
                        <div class="col-md-12 align-self-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'seminar' %}"><i class="fas fa-address-card"></i> การสัมมนา</a></li>
                                <li class="breadcrumb-item active">{% block name %}{{ seminar.name }}{% endblock name %}</li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 mx-auto">
                    <div class="card">
                        <div class="card-header bg-info text-white text-center"><br>
                            <h3> รายละเอียดโครงการ</h3><br>
                        </div><br>
                        <div class="card-body">
                            <form action="{% url 'seminar_detail' seminar.id %}" method="POST">
                                {% csrf_token %}
                                    <div class="form-group">
                                        <h4>{{ seminar.name }}</h4>
                                        <p style="text-indent: 2.5em;">{{ seminar.detail }}</p><hr>

                                        <h4>วัน-เวลา</h4>
                                        <p style="text-indent: 2.5em;">{{ seminar.date |date:"d/m/Y"}} | {{ seminar.from_time |time:"H:i" }}น. - {{ seminar.to_time |time:"H:i" }}น.</p><hr>

                                        <h4>สถานที่</h4>
                                        <p style="text-indent: 2.5em;">{{ seminar.locality }} </p><hr>

                                        <h4>ข้อมูลเพิ่มเติม</h4>
                                        <a href={{ seminar.link }} target="_blank">{{ seminar.link }}</a><hr>
                                    </div>

                                <!--Button-->
                                <div class="text-center">
                                    <a href="{% url 'seminar' %}" class="btn btn-danger">กลับไปหน้าสัมมนา</a>
                                </div>
                                <input type="hidden" name="seminarid" id="seminarid" value="{{ seminar.id }}">
                            </form>
                        </div>
                    </div>
	            </div>
            </div>
        </div>
    </section>
{% endblock content %}