{% extends 'base.html' %}
{% load humanize %}
{% block title %} โครงการฝึกอบรม {% endblock title %}
{% block content %}
    <div class="container"><br><br>
        <h2 class="text-center"><i class="fas fa-business-time"></i> โครงการฝึกอบรม</h2><br><hr>
        <!--ปุ่มลงทะเบียน-->
        <div class="text-left">
            <a href="{% url 'event2_register'%}" class="btn btn-info"><i class="fas fa-user-plus"></i> ลงทะเบียน</a>
        </div>
        <!--รวมโครงการ-->
        {% if training %}
            <h5 class="text-right">{{ trainingcount }} โครงการ</h5>
        {% endif %}
        
        <div class="data-transection">
            <!--ตารางการฝึกอบรม-->
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr class="text-center">
                        <tr class="text-center">
                        <th scope="col">ชื่อโครงการ</th>
                        <th scope="col">วัน-เวลา</th>
                        <th scope="col">สถานที่</th>
                        <th scope="col">จัดการ</th>
                    </tr>
                </thead>

                <tbody>
                {% if training %}
                    {% for training in training %}
                        <tr class="text-center">
                            <td>{{ training.name }}</td>
                            <td>{{ training.date |date:"d/m/Y" }} <br> {{ training.from_time |time:"H:i" }}น. - {{ training.to_time |time:"H:i" }}น.</td>
                            <td>{{ training.locality |linebreaksbr}}</td>
                            <td><a href="{% url 'training_detail' training.id %}" class="btn btn-warning"><i class="fas fa-eye"></i> รายละเอียด</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="10" class="text-center">ไม่มีข้อมูลการฝึกอบรม</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>

        <!--pagination -->
        {% if training %}
            <div class="col-md-4 mx-auto">
                <div class="pagination ">
                    {% if training.has_previous %}
                        <a class="pagination-action" href="?page=1">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ training.previous_page_number }}">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                
                    <span class="pagination-current">{{ training.number }}</span>
                    <span class="pagination-of">of</span>
                    <span class="pagination-total">{{ training.paginator.num_pages }}</span>
                
                    {% if training.has_next %}
                        <a class="pagination-action" href="?page={{ training.next_page_number }}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ training.paginator.num_pages }}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endif %}  
        <br>  
    </div>
{% endblock content %}